/*****************/
/* HEADER */
/*****************/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: #fdf2e9;
    position: relative;
}
.header-logo {
    display: inline-block;
    margin-bottom: 3.2rem;
}

.logo {
    height: 2.2rem;
}
/*****************/
/* NAVIGATION */
/*****************/
.main-nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;

    list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
    color: #e67e22;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    background-color: #e67e22;
    color: #fff;
    border-radius: 9px;
}
.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
    background-color: #cf711f;
    color: #fff;
    border-radius: 9px;
}

/*****************/
/* mobile */
/*****************/
.btn-mobile-nav {
    border: none;
    cursor: pointer;
    background: none;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name='close-outline'] {
    display: none;
}

/*****************/
/* HERO */
/*****************/

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 130rem;
    gap: 9.6rem;
    align-items: center;
    padding: 0 4.8rem;
}
.hero-description {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}
.delivered-meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs {
    display: flex;
}
.delivered-imgs img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
    margin: 0;
}
.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}
.delivered-text span {
    color: #e67e22;
}
.hero-img {
    max-width: 100%;
}

/*****************/
/* FEATURED IN */
/*****************/
.section-featured {
    padding: 4.8rem 0 3.2rem 0;
    /* background-color: #e67e22; */
}
.heading-featured-in {
    letter-spacing: 0.75px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}
/*****************/
/* SECTION HOW */
/*****************/
.section-how {
    padding: 9.6rem 0;
    /* background-color: orangered; */
}
.step-number {
    font-size: 8.6rem;
    color: #ddd;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    color: #555;
    line-height: 1.6;
}
.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
    content: '';
    display: block;
    /* height: 60%; */
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step-img-box::before {
    z-index: -2;
    padding-bottom: 60%;
    width: 60%;
    background-color: #fdf2e9;
}

.step-img-box::after {
    z-index: -1;
    padding-bottom: 45%;
    width: 45%;
    background-color: #fae5d3;
}

.step-img {
    width: 35%;
}

/*****************/
/* MEALS */
/*****************/

.section-meals {
    padding: 9.6rem 0;
}
.meals {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.5s;
}
.meal-content {
    padding: 4.8rem;
    padding-top: 3.2rem;
}
.meals-tag {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}
.meals:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    border-radius: 100px;
}
.tag--vegetarian {
    background-color: #51cf66;
}
.tag--vegan {
    background-color: #94d82d;
}
.tag--paleo {
    background-color: #fcc419;
}
.meal-title {
    font-weight: 600;
    font-size: 2rem;
    color: #333;
    margin-bottom: 3.2rem;
}
.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.meal-img {
    width: 100%;
}
.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.all-recipies {
    text-align: center;
    font-size: 1.8rem;
}

/*****************/
/* TESTIMONIAL */
/*****************/

.section-testimonials {
    background-color: #fae5d3;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonial-container {
    padding: 9.6rem;
}
.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}
.gallery-item {
    overflow: hidden;
}
.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/*****************/
/* PRICING */
/*****************/

.section-pricing {
    padding: 9.6rem 0;
}
.pricing-plan {
    border-radius: 11px;
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.8rem;
}
.pricing-plan--complete {
    padding: 4.8rem;
    background-color: #fdf2e9;
    overflow: hidden;
    position: relative;
}

.pricing-plan--complete::after {
    content: 'Best Value';
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: #ffd43b;
    font-weight: 700;
    padding: 0.8rem 8rem;
    color: #333;
    top: 6%;
    right: -18%;
    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.75;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 2rem;
}
.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-signup {
    margin-top: 4.8rem;
    text-align: center;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #555;
    text-align: center;
}
.feature-icon {
    color: #cf711f;
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: #fdf2e9;
    padding: 1.6rem;
    border-radius: 50%;
}
.feature-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: #333;
}
.feature-text {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

/*****************/
/* CTA */
/*****************/
.section-cta {
    padding: 4.8rem 0 12.8rem 0;
}
.cta {
    display: grid;
    border-radius: 11px;
    overflow: hidden;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}
.cta-text-box {
    color: #45260a;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
    color: #45260a;
    margin-bottom: 3.2rem;
}
.cta-text {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 4.8rem;
}
.cta-img-box {
    background-image: linear-gradient(
            to right bottom,
            rgba(235, 151, 78, 0.35),
            rgba(230, 125, 34, 0.35)
        ),
        url('../img/eating.jpg');
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    color: inherit;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 9px;
    border: none;
    background-color: #fdf2e9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
    color: #aaa;
}
.cta-form select {
}

.cta *:focus {
    box-shadow: 0 0 0 0.8rem rgba(215, 188, 165, 0.5);
}

/*****************/
/* FOOTER */
/*****************/
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
    display: flex;
    flex-direction: column;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 3.2rem;
}
.social-icon {
    font-size: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.7;
    margin-top: auto;
}
.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}
.footer-header {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}
.address {
    margin-bottom: 2.4rem;
}
.footer-nav {
    list-style: none;
}

.footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:active,
.footer-link:hover {
    color: #555;
}
